body{
    box-sizing: border-box;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.weather{
    width:500px;
    height: 600px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    text-align: center;
    justify-content: center;
    align-content: center;

}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 40px;
    padding-right: 2rem;

}

input{
    border-radius: 30px;
    border: none;
    height: 35px;
    text-align: center;
}

button{
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 35px;
   
}

#searchicon{
    width: 1rem;

}

#weatherinfo{
    width:50%;
    background-color: transparent;
}

.anotherinfo{
    height: auto;
    display: flex;
    align-items: center;
    background-color: #f3f333;
    justify-content: space-evenly;
}

#humid{
    width:3rem;
    
}

#windspeed{
    width:3rem;
    
}

#windspeedinfo{
   

}
